$base-color: #456fa4 !default;
$global-row-height: 2em !default;
$form-field-height: 2em !default;
$form-spacing: .3em !default;
$tabs-bottom-radius: 0em !default;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// pictos icon style
@include pictos-iconmask('compose');
@include pictos-iconmask('list');
@include pictos-iconmask('settings6');

//common style
.marginR5{margin:0 5px 0 0;}
.marginRL5{margin:0 5px;}

// form style
.x-input-el{padding:.2em;}
.x-tabbar.x-docked-bottom{height:2.3em;}
.x-tab {min-width:2.5em;padding-top:.3em;}
.x-tabbar.x-docked-bottom .x-tab{min-width:2.6em;margin:0 5px;padding-top:0.25em;}
.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon{background-image:-webkit-linear-gradient(top, #EEE,#EEE 3%,#EEE);}
.x-form .x-scroll-container > .x-inner{padding:0.7em;}
body.x-desktop{font-size:100%;}
.x-form-fieldset{margin: 0 0 .5em;}

// history style
.lastEventId{font-size:18px;font-weight:bold;color:#003366;}
.lastEventInfo{font-size:14px;color:#585858;}
.lastEventInfo span{display:block;font-size:15px;color:#37a600;}
.x-list .x-list-item .x-list-item-label{padding:0.3em 0.8em;}

//docked bottom style
.evenButtons{background-image:-webkit-linear-gradient(top, #465f7a,#2d405a 3%,#2d405a);border-top:2px solid #23344c;padding:3px 7px;}
.evenButtons .x-button{
	background:url('../image/bgEventButton.png') no-repeat;border:1px solid #222;padding:.8em 0em .8em 2em;
	box-shadow:1px 1px 1px #23344c;
	color:#efefef;font-size:19px;
}
.evenButtons .x-button.x-button-pressing{background:url('../image/bgEventButtonOn.png') no-repeat;}
.evenButtons .x-button.eventEnd{background-position:0 -55px;}
.evenButtons .x-button.eventMore{background-position:0 -110px;}
.evenButtons .x-button.eventSend{background-position:0 -165px;}
.evenButtons .x-button.eventReset{background-position:0 -220px;}