$base-color: #456fa4 !default;
$global-row-height: 2em !default;
$form-field-height: 2em !default;
$form-spacing: .3em !default;
$tabs-bottom-radius: 0em !default;
$form-thumb-size:1.5em;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// pictos icon style
@include pictos-iconmask('compose');
@include pictos-iconmask('list');
@include pictos-iconmask('settings6');

//common style
.marginR5{margin:0 5px 0 0;}
.marginRL5{margin:0 5px;}

// form style
.x-input-el{padding:.2em;}
.x-tabbar.x-docked-bottom{height:2.3em;}
.x-tab {min-width:2.5em;padding-top:.3em;}
.x-tabbar.x-docked-bottom .x-tab{min-width:2.6em;margin:0 5px;padding-top:0.25em;}
.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon{
	background-image:-webkit-linear-gradient(top, #EEE,#EEE 3%,#EEE);
	background-image:linear-gradient(top, #EEE,#EEE 3%,#EEE);
	background-color:#fff;
}
.x-form .x-scroll-container > .x-inner{padding:0.7em;}
body.x-desktop{font-size:100%;}
.x-form-fieldset{margin: 0 0 .5em;}
.singleLine .x-field{border-bottom:0 !important;}
.x-item-disabled .x-form-label span, .x-item-disabled input, .x-item-disabled .x-input-el, .x-item-disabled .x-spinner-body, .x-item-disabled select,
.x-item-disabled textarea, .x-item-disabled .x-field-clear-container,.x-input-text
{color:#585858 !important;-webkit-text-fill-color:#585858 !important;}

//list style
.x-list-normal .x-list-item.x-item-pressed .x-list-item-label{background:url('../image/iconCheck.png') 98% 50% no-repeat #C2DCF6;border:1px solid #81aeda;border-width:1px 0;padding-right:35px;}
.x-list-item{background:url('../image/bgGradient.png') 0 100% repeat-x;}
.projectCode.x-list .x-list-item{color:#666;font-size:90%;}
.projectCode span{font-size:115%;display:block;color:#036;font-weight:bold;}

// history style
.lastEventId{font-size:18px;font-weight:bold;color:#003366;}
.lastEventInfo{font-size:14px;color:#585858;}
.lastEventInfo span{display:block;font-size:15px;color:#37a600;}
.x-list .x-list-item .x-list-item-label{padding:0.3em 0.8em;}

//docked bottom style
.evenButtons{background:url('../image/bgBtnBar.png') repeat-x;padding:5px 7px 4px 7px;}
.evenButtons .x-button{
	background:url('../image/bgEventButton.png') no-repeat;border:1px solid #222;padding:.8em 0em .8em 2em;
	box-shadow:1px 1px 1px #23344c;
	color:#efefef;font-size:19px;
}
.evenButtons .x-button.x-button-pressing{background:url('../image/bgEventButtonOn.png') no-repeat;}
.evenButtons .x-button.eventEnd{background-position:0 -55px;}
.evenButtons .x-button.eventMore{background-position:0 -110px;}
.evenButtons .x-button.eventSend{background-position:0 -165px;}
.evenButtons .x-button.eventReset{background-position:0 -220px;}
.btnSearch{background:url('../image/btnSearch.png') 35% 7px no-repeat;border:0;}
.btnSearch.x-button-pressing{background:url('../image/btnSearch.png') 35% -28px no-repeat;}
.x-button.eventEnd{
	background:url('../image/bgEventButton.png') 0 -55px no-repeat;border:1px solid #222;padding:.8em 0em .8em 2em;
	box-shadow:1px 1px 1px #23344c;color:#efefef;font-size:19px;
}

// login style
.login{background:url('../image/bgLogin.png') repeat-x #192b46 !important}
.login .x-scroll-view{min-width:250px;max-width:650px;margin:auto;}
.login.x-form .x-scroll-container{background:url('../image/loginTop.png') 50% 0 no-repeat;}
.productName{padding:184px 0 5px 0;text-align:center;font-size:36px;color:#fff;font-weight:bold;}
.productName span{display:block;font-size:10px;color:#849dc1;text-transform:uppercase;}
.login .x-field{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;margin-bottom:5px;padding-left:15px;}
.login .x-docked-bottom{padding:7px;background:rgba(0, 0, 0, .3);}
.login .x-button{min-height:3em;}
.login .x-toggle,.x-thumb::before{border:1px solid #585858;}
.login .x-toggle-on{
	background-color:#4ec9eb;
	background-image:-webkit-linear-gradient(top, #658fca,#527ebb 30%,#476fa7 65%,#476fa7);
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #658fca), color-stop(10%, #527ebb), color-stop(65%, #476fa7), color-stop(100%, #476fa7));
	background-image:linear-gradient(top, #658fca,#527ebb 30%,#476fa7 65%,#476fa7)
}
.login .x-form-label{background-color:transparent;color:#666;}
.login .x-button.btnReset{background:url('../image/bgEventButton.png') 100% 0 no-repeat #2c353c !important;border:1px solid #000;color:#cfcfcf;}
.login .x-button.btnReset.x-button-pressing{background:none #111;color:#fff;}
.login .x-button.btnLogin{background:url('../image/bgEventButtonOn.png') 100% 0 no-repeat #1c5d76 !important;border:1px solid #000;color:#fff;}
.login .x-button.btnLogin.x-button-pressing{background:url('../image/bgLoginButtonOn.png') 0 0 repeat-x #62a2ba !important;border:1px solid #000;color:#fff;}

// toggle style
.x-slider,.x-toggle{height:1.5em;width:5em;}

// button style
.x-button-forward, .x-button-back {
    position: relative;overflow:visible;height:1.7em;z-index:1;
    &:before, &:after {z-index:2;-webkit-mask:none;overflow: hidden;}
  }
  .x-button-back,.x-toolbar .x-button-back{
    margin-left: none;padding-left: .7em;
 	&:before, &:after{-webkit-mask:none !important;-webkit-mask-size:none !important;width:0;}
    &:before{left:- 0;}
    &:after {left:- 0;}
  }

